 .wrapper .bd .header .s-m-list{
     display: inline-block;
     width: 18px;
     height: 40px;
     position: relative;
 }

 .wrapper .bd .header .s-m-list .s-m-item{
    position: absolute;
    left: 0;
    top: 41px;
    background-color: #fff;
    z-index: 10;
    width: 150px;
    height: 200px;
    border: 1px solid #999;
    overflow: scroll;
    display: none;
}

.wrapper .bd .header .s-m-list .s-m-item a{
    display: block;
    width: 122px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}

.wrapper .bd .header .s-m-list .s-m-item a:hover{
    background-color: #ccc;
}